extends layout

block content
	script
		include scripts/restApi.js
	.container-fluid
		h1= 'All of your happy customers:'		
		.row
			.col-sm-8
				table.table.table-striped.text-center
					tr
						th #
						th First name
						th Last name
						//- th
						th
					each customer in customers
						tr
							td #{customer.id}
							td #{customer.first_name}
							td #{customer.last_name}
							//- td
								//- button.btn.btn-warning
								//- 	i.fa.fa-pencil
							td
								button.btn.btn-danger(onClick="deleteCustomer(" + customer.id + ")")
									i.fa.fa-trash
					else
						tr
							td(colspan=5) There are no items
			.col-sm-4
				.card.shadow.card-body
					include customers-add.pug