html
	block header
		head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
		title= title
	body
		nav.navbar.navbar-inverse
			ul.nav.navbar-nav
				li
					a(href="/orders") Orders
				li
					a(href="/customers") Customers
		div.container
			block content
		block footer		
			footer Made with love by us
